1. List any five functions of the pandas library with execution.

Answer->

(1->pandas.read_csv(): This function is used to read a CSV file into a pandas DataFrame.

In [2]:
import pandas as pd
df = pd.read_csv('salesDetail.csv')
print(df)

             product   sales  year         cost
0  Electronic_device   50000  2019       204803
1     dairy_products  100000  2019     40204823
2   medical_products   56000  2019    402048299
3        frozen_food  100000  2019  40254823000
4    genral_products   10000  2019    748374957

(2-> pandas.DataFrame.head(): This function is used to return the first n rows of a DataFrame.

In [3]:
import seaborn as sb
import pandas as pd

df = sb.load_dataset('tips')
print(df.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

(3-> pandas.DataFrame.drop(): This function is used to drop one or more columns or rows from a DataFrame.

In [37]:
import seaborn as sb
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

df = sb.load_dataset('tips')
print(df.head())
df = df.drop('tip', axis=1)
print("updated dataset")
print(df.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
updated dataset
   total_bill     sex smoker  day    time  size
0       16.99  Female     No  Sun  Dinner     2
1       10.34    Male     No  Sun  Dinner     3
2       21.01    Male     No  Sun  Dinner     3
3       23.68    Male     No  Sun  Dinner     2
4       24.59  Female     No  Sun  Dinner     4

(4-pandas.DataFrame.groupby(): This function is used to group a DataFrame by one or more columns and apply an aggregation function

In [36]:
import pandas as pd 
import seaborn as snb
df = snb.load_dataset('tips')
print(df.head())
groupBY = df.groupby('total_bill').mean()
print(groupBY)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
               tip  size
total_bill
3.07         1.000   1.0
5.75         1.000   2.0
7.25         3.075   1.5
7.51         2.000   2.0
7.56         1.440   2.0
...            ...   ...
45.35        3.500   3.0
48.17        5.000   6.0
48.27        6.730   4.0
48.33        9.000   4.0
50.81       10.000   3.0

[229 rows x 2 columns]

/tmp/ipykernel_102/1209775253.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groupBY = df.groupby('total_bill').mean()

(5-> pandas.DataFrame.merge(): This function is used to merge two DataFrames based on a common column or index

In [12]:
import pandas as pd

df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value': [5, 6, 7, 8]})
merged = pd.merge(df1, df2, on='key')
print(merged)

  key  value_x  value_y
0   B        2        5
1   D        4        6

2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [20]:
import pandas as pd 

def re_index(df):
    NewIndex = pd.RangeIndex(start=1, stop=len(df)*2, step=2)
    df=df.set_index(NewIndex)
    return df 

df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]})
df = re_index(df)
print(df)

   A  B   C
1  1  5   9
3  2  6  10
5  3  7  11
7  4  8  12

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [24]:
import pandas as pd

def sumOFcolumn(df,numOFvalues,column):
    total = df[column].head(numOFvalues).sum()
    return f"The sum of the first {numOFvalues} values is {total}"


df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})


print(sumOFcolumn(df,3,'Values'))

The sum of the first 3 values is 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [30]:
import pandas as pd 
def count_word(df , column ):
    df['Word_Count'] = df[column].str.split().apply(len)
    return df
df = pd.DataFrame({'Text': ['It has four words.', 'This row has six words in it.']})
print(count_word(df,'Text'))

                            Text  Word_Count
0             It has four words.           4
1  This row has six words in it.           7

Q5. How are DataFrame.size() and DataFrame.shape() different?

Answer->

Both DataFrame.size and DataFrame.shape are attributes of a pandas DataFrame that provide information about the size of the DataFrame, but they represent different things:

DataFrame.size: This attribute returns the total number of elements in the DataFrame, i.e., the product of the number of rows and columns in the DataFrame. It returns an integer value.

DataFrame.shape: This attribute returns a tuple containing the number of rows and columns in the DataFrame, respectively. It returns a tuple of integer values.

Example->

In [32]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]})

print("for size function", df.size) # size = rows * column = 4 *3 = 12
print("for shape function" , df.shape)

for size function 12
for shape function (4, 3)

Q6. Which function of pandas do we use to read an excel file?

In [34]:
import pandas as pd 
file = pd.read_excel('example.xlsx') #read the Excel file into a Pandas dataframe
print(file)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [1]:
import pandas as pd

df = pd.DataFrame({'Email': ['john.doe@example.com', 'marks.doe@example.com', 'james.gun@example.com']})


def extract_username(email):
    return email.split('@')[0]

df['Username'] = df['Email'].apply(extract_username)


print(df)

                   Email   Username
0   john.doe@example.com   john.doe
1  marks.doe@example.com  marks.doe
2  james.gun@example.com  james.gun


 Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
 all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
 function should return a new DataFrame that contains only the selected rows.

In [2]:
import pandas as pd

df = pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
def selects_rows(df,i,j):
    df1 = df[(df[i] > 5) & (df[j] < 10)]
    return df1
print(selects_rows(df,'A','B'))

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [10]:
import pandas as pd 
import numpy as np
def function(df ,values):
    meanValues = np.mean(df[values])
    standerDeviation  = np.std(df[values])
    median = np.median(df[values])
    return pd.DataFrame({'mean':meanValues,'median':[median],'standard Deviation' : standerDeviation }).T
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
print(function(df,'Values'))

# THIS CODE USES NUMPY METHODES

                            0
mean                30.000000
median              30.000000
standard Deviation  14.142136

SAME CODE CAN BE WRIRE IN THIS WAY

In [9]:
import pandas as pd

def function(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    
    return f"mean : {mean} \nmedian :{median}\nstandard deviation : {std}"
df =pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
print(function(df))

# THIS CODE USES ONLY PANDAS' S METHODE

mean : 30.0
median :30.0
standard deviation : 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [20]:
import pandas as pd
products = ['Product A', 'Product B', 'Product C', 'Product D', 'Product E']
sales = [['Product A', 8], ['Product B', 10], ['Product B', 5], ['Product B', 3], ['Product B', 9], ['Product C', 7], ['Product A', 5], ['Product B', 2], ['Product A', 7], ['Product C', 6], ['Product E', 3], ['Product E', 7], ['Product A', 10], ['Product D', 7], ['Product E', 9], ['Product D', 3], ['Product E', 10], ['Product D', 9], ['Product D', 10], ['Product B', 2], ['Product C', 4], ['Product A', 2], ['Product A', 1], ['Product E', 6], ['Product B', 7], ['Product D', 4], ['Product D', 1], ['Product C', 10], ['Product C', 3], ['Product E', 9], ['Product E', 4], ['Product B', 9], ['Product D', 4], ['Product B', 4], ['Product C', 7], ['Product D', 8], ['Product A', 8], ['Product E', 8], ['Product D', 2], ['Product E', 6], ['Product B', 3], ['Product D', 10], ['Product D', 2], ['Product D', 9], ['Product E', 8], ['Product C', 1], ['Product B', 10], ['Product E', 7], ['Product B', 6], ['Product E', 4]]
df_sales = pd.DataFrame(sales, columns=['Product', 'sales'])
df_sales['Revenue'] = df_sales['sales'] * 100
df_sales['Date'] = pd.date_range(start='2023-04-01', periods=len(df_sales))

print(df_sales.head())

     Product  sales  Revenue       Date
0  Product A      8      800 2023-04-01
1  Product B     10     1000 2023-04-02
2  Product B      5      500 2023-04-03
3  Product B      3      300 2023-04-04
4  Product B      9      900 2023-04-05

In [21]:
def MovingAvg(df,WindowsSize,column):
    df['MovingAvg'] = df_sales[column].rolling(window=WindowsSize,min_periods=1).mean()
    return df
MovingAvg(df_sales,7,'sales')
print(df_sales.head())

     Product  sales  Revenue       Date  MovingAvg
0  Product A      8      800 2023-04-01   8.000000
1  Product B     10     1000 2023-04-02   9.000000
2  Product B      5      500 2023-04-03   7.666667
3  Product B      3      300 2023-04-04   6.500000
4  Product B      9      900 2023-04-05   7.000000

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

In [23]:
import pandas as pd

def weekday_column(df,column):
    df['Weekday'] = pd.to_datetime(df[column]).dt.day_name()
    return df

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df = weekday_column(df,'Date')
print(df)

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [30]:
import pandas as pd

def selectRow(df,start,end):
    start_date = pd.to_datetime(start)
    end_date = pd.to_datetime(end)
    
    selected_rows =  df.loc[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return selected_rows

df = pd.DataFrame({'Date': pd.date_range('2022-12-30', periods=60), 'Sales': range(60)})
print(f"THIS IS DATASET\n",df.head())
print(f"THESE ARE SELECTED ROWS\n",selectRow(df,'2023-01-01','2023-01-31'))

THIS IS DATASET
         Date  Sales
0 2022-12-30      0
1 2022-12-31      1
2 2023-01-01      2
3 2023-01-02      3
4 2023-01-03      4
THESE ARE SELECTED ROWS
          Date  Sales
2  2023-01-01      2
3  2023-01-02      3
4  2023-01-03      4
5  2023-01-04      5
6  2023-01-05      6
7  2023-01-06      7
8  2023-01-07      8
9  2023-01-08      9
10 2023-01-09     10
11 2023-01-10     11
12 2023-01-11     12
13 2023-01-12     13
14 2023-01-13     14
15 2023-01-14     15
16 2023-01-15     16
17 2023-01-16     17
18 2023-01-17     18
19 2023-01-18     19
20 2023-01-19     20
21 2023-01-20     21
22 2023-01-21     22
23 2023-01-22     23
24 2023-01-23     24
25 2023-01-24     25
26 2023-01-25     26
27 2023-01-26     27
28 2023-01-27     28
29 2023-01-28     29
30 2023-01-29     30
31 2023-01-30     31
32 2023-01-31     32

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

Answer->

The first and foremost library that needs to be imported to use the basic functions of pandas is pandas itself. The pandas library is a popular open-source data manipulation and analysis library that provides a wide range of tools and functions for working with structured data such as tabular data, time-series data, and more.

In [31]:
import pandas as pd