In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd
list1 = [4,8,15,16,23,42]
myseries = pd.Series(list1,index = range(1 , len(list1)+1))
print(myseries)

1     4
2     8
3    15
4    16
5    23
6    42
dtype: int64

In [2]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.
import pandas as pd 
list2 = [1,2,3,4,5,6,7,8,9,10]
myseries2 = pd.Series(list2)
print(myseries2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
# 3. Create a Pandas DataFrame that contains the following data:
import pandas as pd 
dic = {'Name':['Alice','Bob','Claire'],'Age': [25,30,27],'Gender' : ['Female','Male','Female']}
dataShow = pd.DataFrame(dic,index=None)
print(dataShow)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [6]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.
import pandas as pd 
l=['a','b','c','d','e','f','g','h']
l1 =[545,664,323,64,2323,23]
l2 = [980943,8539,434]

myseries3 = pd.Series(l)
myseries4 = pd.Series(l1)
myseries5 = pd.Series(l2)
showData = pd.DataFrame([myseries3,myseries4,myseries5])
print(showData)

          0       1      2     3       4     5    6    7
0         a       b      c     d       e     f    g    h
1     545.0   664.0  323.0  64.0  2323.0  23.0  NaN  NaN
2  980943.0  8539.0  434.0   NaN     NaN   NaN  NaN  NaN

In [17]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

# Answer->

# In pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different data types, 
# similar to a spreadsheet or SQL table. It is essentially a collection of Series, where each Series represents a column of data

# A pandas Series, on the other hand, is a one-dimensional labeled array that can hold data of any type.

# The key difference between a DataFrame and a Series is that a DataFrame can hold multiple columns of data, 
# while a Series can hold only one column of data.
print("EXAMPLE OF DATAFRAME")
import pandas as pd 
dic = {'Name':['Alice','Bob','Claire'],'Age': [25,30,27],'Gender' : ['Female','Male','Female']}
dataShow = pd.DataFrame(dic,index=None)
print(dataShow)
print("EXAMPLE OF SERIES")
fruits = pd.Series(['mango', 'Apple', 'orange'])
print(fruits)

EXAMPLE OF DATAFRAME
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
EXAMPLE OF SERIES
0     mango
1     Apple
2    orange
dtype: object

In [ ]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? 
#     Can you give an example of when you might use one of these functions?

# Answer->

# head() and tail(): These functions are used to view the first or last n rows of the DataFrame, respectively. 
#                    They are useful for quickly previewing the structure of the DataFrame.
    
# groupby(): This function is used to group the data in the DataFrame based on one or more columns and apply a function to each group. 
#            It is useful for analyzing data by categories.

# sort_values(): This function is used to sort the DataFrame by one or more columns. It is useful for reordering the data and identifying patterns.

# drop(): This function is used to remove one or more columns or rows from the DataFrame. It is useful for cleaning the data or removing unnecessary information.

import seaborn as sns
import pandas as pd 
tips_data = sns.load_dataset('tips')

# head() and tail():

print(tips_data.head())
print(tips_data.tail())

# groupby():

print(" groupby():  ")
grouped_data = tips_data.groupby(['sex', 'total_bill'])['tip'].mean()
print(grouped_data)

# sort_values(): 

print(" sort_values:  ")
sorted_df = tips_data.sort_values('total_bill', ascending=False)
print(sorted_df)

# drop():

print(" drop")
drop_example = tips_data.drop(1)
print(drop_example)

In [16]:
# Q->which are the following mutable in nature series , dataframe , Panel 
# Answer->
# In the pandas library, both Series and DataFrame are mutable, meaning that their values can be modified after they are created

# The Panel class in Pandas is mutable, meaning that you can modify its contents by adding, removing, or modifying elements within it.
# However, as mentioned earlier, the Panel class has been deprecated since version 0.25.0 of Pandas and is no longer recommended to be used.
import pandas as pd
dic = {'Name':['Alice','Bob','Claire'],'Age': [25,30,27],'Gender' : ['Female','Male','Female']}

# EXAMPLE-> for DataFrame
dataShow = pd.DataFrame(dic,index=None)
print(dataShow)# without modify
dataShow.loc[2, 'Age'] = 40
print(dataShow)# wirth modify

#Example-> for Series
print("this the example of series")
fruits = pd.Series(['mango', 'Apple', 'orange'])
print(fruits)
fruits[1] = 'orange'
print(fruits)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   40  Female
this the example of series
0     mango
1     Apple
2    orange
dtype: object
0     mango
1    orange
2    orange
dtype: object

In [15]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? 
#     Can you give an example of when you might use one of these functions?

# Answer->

# head() and tail(): These functions are used to view the first or last n rows of the DataFrame, respectively. 
#                    They are useful for quickly previewing the structure of the DataFrame.
    
# groupby(): This function is used to group the data in the DataFrame based on one or more columns and apply a function to each group. 
#            It is useful for analyzing data by categories.

# sort_values(): This function is used to sort the DataFrame by one or more columns. It is useful for reordering the data and identifying patterns.

# drop(): This function is used to remove one or more columns or rows from the DataFrame. It is useful for cleaning the data or removing unnecessary information.

import seaborn as sns
import pandas as pd 
tips_data = sns.load_dataset('tips')

# head() and tail():

print(tips_data.head())
print(tips_data.tail())

# groupby():

print(" groupby():  ")
grouped_data = tips_data.groupby(['sex', 'total_bill'])['tip'].mean()
print(grouped_data)

# sort_values(): 

print(" sort_values:  ")
sorted_df = tips_data.sort_values('total_bill', ascending=False)
print(sorted_df)

# drop():

print(" drop")
drop_example = tips_data.drop(1)
print(drop_example)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2
 groupby():
sex     total_bill
Male    3.07           NaN
        5.75           NaN
        7.25          5.15
        7.51          2.00
        7.56          1.44
                      ...
Female  45.35          NaN
        48.17          NaN
        48.27          NaN
        48.33          NaN
        50.81          NaN
Name: tip, Length: 458, dtype: float64
 sort_values:
     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
156       48.17   5.00    Male     No   Sun  Dinner     6
182       45.35   3.50    Male    Yes   Sun  Dinner     3
..          ...    ...     ...    ...   ...     ...   ...
149        7.51   2.00    Male     No  Thur   Lunch     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
92         5.75   1.00  Female    Yes   Fri  Dinner     2
67         3.07   1.00  Female    Yes   Sat  Dinner     1

[244 rows x 7 columns]
 drop
     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[243 rows x 7 columns]